*{
    box-sizing:border-box;
}
body{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    padding: 8px;
}
.container{
    background-color: #f1f1f1;
    padding: 7px 20px 15px 20px;
    border: 2px solid lightgray;
    border-radius: 5px;

}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="number"],
input[type="mail"],
select,textarea{
    width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 7px;
}
fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
.mainheading{
    text-align: center;
}
input[type="submit"]
{
    background-color: rgb(10, 175, 204);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover
{
    background-color: mediumseagreen;
}